<!--
term02 - 개인정보 수집 및 이용동의(필수)
-->

<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
</head>

<body>
<div class="header">
    <a class="header-item" onclick="window.close()">
        <img src="/img/back-icon.svg" />
    </a>
    <a class="header-item">
        <img src="/img/logo2.svg" />
    </a>
    <a class="header-item"></a>
</div>

<div class="terms">
    <p class="page-title">개인정보 수집 및 이용동의(필수)</p>
    <p class="page-des">
        본인은 [개인정보 보호법] 제15조 및 제17조에 따라 아래의 내용으로 개인정보를 수집, 이용 및 제공하는데 동의합니다.

        개인정보의 수집 및 이용에 관한 사항
        - 수집하는 개인정보 항목 : 성명,  전화번호, 프로필 ( 소셜로그인 이미지 ) , 이메일 外 소셜정보 일체

         - 개인정보의 이용 목적 : 수집된 개인정보를 산타(이하”콘텐츠”라고 한다) 및 서비스의 이용에 활용하며, 목적 외의 용도로는 사용하지 않습니다.
         
        2. 개인정보의 보관 및 이용 기간
        - 귀하의 개인정보를 다음과 같이 보관하며, 수집, 이용 및 제공목적이 달성된 경우 [개인정보 보호법] 제21조에 따라 처리합니다.  

        하기의 동의하기 버튼을 통해 본인은 개인정보 수집 및 이용에 대하여 동의를 결정할 수 있습니다.
    </p>
    <div class="checkbox-wrapper">
        <div class="checkbox all">
            개인정보 수집 및 이용에 동의합니다
            <input type="checkbox" id="checkPermission"/>
            <label for="checkPermission"></label>
        </div>

    </div>
    <button class="button" id="nextserve">확인</button>
</div>

</body>
</html>
